<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <title>Payables: Add Invoice</title>
    </head>
    <body>
        <header>
            <div class="navigation">
                <ul>
                    <li><a href="{{ url_for('add_invoice') }}">Add Invoice</a></li>
                    <li><a href="{{ url_for('add_amendment') }}">Add Amendment</a></li>
                </ul>
            </div>
            <h1>Add Invoice //</h1>
        </header>
        <main>
            <form action="#", method="POST">
                <div class="line">
                    <div class="field">
                        <label for="vendor">Vendor</label>
                        <input list="vendors" required>
                        <datalist id="vendors">
                            {% for i in vendors %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="field">
                        <label for="invoice-no">Invoice Number</label>
                        <input name="invoice-no" type="text" required>
                    </div>
                </div>
                <div class="line">
                    <div class="field">
                        <label for="invoice-month">Invoice Month (yyyymm)</label>
                        <input name="invoice-month" type="month">
                    </div>
                    <div class="field">
                        <label for="amount">Invoice Amount</label>
                        <input name="amount" type="number">
                    </div>
                </div>
                <div class="line">
                    <div class="field">
                        <label for="files">Attach Files</label>
                        <input name="files" type="file">
                    </div>                    
                </div>
                <div class="line">
                    <div class="field">
                        <button type="submit">Submit Invoice</button>
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>