<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <title>Payables Subledger</title>
    </head>
    <body>
        <header>
            <div class="navigation">
                <ul>
                    <li><a href="{{ url_for('add_invoice') }}">Add Invoice</a></li>
                    <li><a href="{{ url_for('add_amendment') }}">Add Amendment</a></li>
                </ul>
            </div>
            <h1>Payables Subledger</h1>
            <h2>Welcome to Simplex Payables Subledger</h2>
        </header>
        <div>
            <p>Current Month: {{monthyear}}</p>
            <p>Go to month summary:</p>
            <form action="#" method="post">
                <label for="month">Choose a month:</label>
                <select name="month" id="months">
                    {% for i in months: %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
    </body>
</html>