SummaryPanel {
    display: block;
    background: white;
    height: 100%;
    width: 50%;
}

OptionsPanel {
    display: block;
    background: blue;
    height: 100%;
    width: 50%;
    align: center middle;
}

#main {
    height: 100%;
    width: 100%;
}

SummaryPanel > Button {
    background: lightblue;
    width: 100%
}

SummaryPanel > Placeholder {
    background: lightblue;
    margin: 5;
    padding: 5;

}