<!DOCTYPE html>
<html>
  <head>
    <h1>Simplex Accounts Payable</h1>
  </head>
  <body>
    <h2>Current AP Status</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Company</th>
          <th scope="col">Total Invoice Amount</th>
          <th scope="col">Approved Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Trading</th>
          <td>1,204,929.92</td>
          <td>802,291.10</td>
        </tr>
        <tr>
          <th scope="row">Investments</th>
          <td>1,204,929.92</td>
          <td>802,291.10</td>
        </tr>
        <tr>
          <th scope="row">Technologies</th>
          <td>1,204,929.92</td>
          <td>802,291.10</td>
        </tr>
        <tr>
          <th scope="row">Holdco</th>
          <td>1,204,929.92</td>
          <td>802,291.10</td>
        </tr>
      </tbody>
    </table>
    <div class="nav">
      <ul>
        <li><a href="">Add invoices</a></li>
        <li><a href="">View invoices</a></li>
        <li><a href="">Manage vendors</a></li>
        <li><a href="">Export files</a></li>
      </ul>
    </div>
    <div class="leave">
      <button href="">Logout</button>
    </div>
  </body>
</html>
